*.orig
*.la
*.lo
*.o
queryLexer.c
queryParser.c
queryParser.h
sqlLexer.c
sqlParser.c
sqlParser.h
cimXmlOps.c
cimXmlOps.h
cimXmlParserProcessed.c
man/*.pre
man/*.1
.deps/
.libs/
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
classSchema2c
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
default.reg
getSchema.sh
getSchema.sh.pre
install-sh
libtool
ltmain.sh
missing
sfcb
sfcb-dox.conf
sfcb.cfg
sfcb.cfg.pre
sfcb.init-none
sfcb.init-redhat
sfcb.init-suse
sfcb.spec
sfcbd
sfcbdump
sfcbdumpP32onI32
sfcbinst2mof
sfcbmofpp
sfcbrepos
sfcbrepos.sh
sfcbstage
sfcbstage.sh
sfcbunstage
sfcbunstage.sh
sfcbuuid
sfcbuuid.sh
stamp-h1
test/Makefile
test/Makefile.in
test/TestProviders/tests/Makefile.in
test/commands/Makefile.in
test/finaltest/Makefile.in
test/slptest/Makefile.in
test/unittest/Makefile.in
test/wbemcli/Makefile.in
test/xmltest/Makefile.in
ylwrap
