# Sample configuartion file

export CVSROOT=":pserver:anonymous:@sblim.cvs.sourceforge.net/cvsroot/sblim"

export MAIL_IDS="userid@domain.com"

export  PATH="$BASE_DIR/sfcb:/usr/local/bin:/usr/local/etc/init.d:$PATH"

export  LD_LIBRARY_PATH=""

export REPOSITORY_DIR="/usr/local/var/lib/sfcb/registration/repository"

export SFCB_ROOT="/opt/Nightlybuild"

# Provide Test name for each set of config options 

export TESTNAME=( "TEST 1" "TEST 2" "TEST 3" )

export TESTCONFIG=( "--enable-tests" "--enable-ssl" "--enable-tests --enable-ssl" )

