# Example configuartion file

export CVSROOT=":pserver:anonymous:@sblim.cvs.sourceforge.net/cvsroot/sblim"

export MAIL_IDS="uid@domain.com"

export  PATH="$BASE_DIR/sfcb:/usr/local/bin:/usr/local/etc/init.d:$PATH"

export  LD_LIBRARY_PATH=""

#distro_id=`lsb_release -i | awk {'print $3'}`
#if [ $distro_id == "RedHatEnterpriseAS" ]
#then
#    distro="RHEL4U6"
#else
#    distro="SLES10"
#fi

#export DISTRO=$distro

export DISTRO="RHEL5"

export REPOSITORY_DIR="/usr/local/var/lib/sfcb/registration/repository"

export SFCB_ROOT="/opt/Nightlybuild"

# Set configuration options to CONFIG_OPTIONS variable.
# You can set config variables for SFCB Build to CONFIG_OPTIONS variable. It takes specific
# build options for single or multiple runs with a ":" separator.
# Based on that the script desides whether it is a single run or multiple runs.

#Here is some examples.

#CASE 1:
#     export CONFIG_OPTIONS=""
#     In this case SFCB source code is built with default options.
#
#CASE 2:
#
#     export CONFIG_OPTIONS="--enable-tests --enable-ssl"
#
#     In this case SFCB source code will be built with SSL and tests enabled.
#
#CASE 3:
#
#     export CONFIG_OPTIONS="--enable-tests --enable-ssl : --enable-tests --enable-slp"
#
#     In this case SFCB source code will be built and tested twice
#
#     a) For the first time SFCB will be built tests and SSL enabled.
#
#     b) For the second time SFCB will be built tests and SLP enabled.


export CONFIG_OPTIONS="--enable-tests : --enable-tests --enable-ssl"
